# Question 1
<b>What data type is each of the following (evaluate where necessary)? <b>

In [17]:
import math 

print(type(5))
print(type(5.0))
print(type(5 > 1))
print(type('5'))
print(type(5 * 2))
print(type('5' * 2))
print(type('5' + '2'))
print(type(5 / 2))
print(type(5 % 2))
print(type({5, 2, 1}))
print(type(5 == 3))
# pi number = 3.14
print(type(math.pi))

<class 'int'>
<class 'float'>
<class 'bool'>
<class 'str'>
<class 'int'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'int'>
<class 'set'>
<class 'bool'>
<class 'float'>

| Data      | Types        |
|:--------- |------------: |
| 5         | integer      |
| 5.0       | float        |
| 5>1       | bool         |
| '5'       | string       |
| 5 * 2     | integer      |
| '5' * 2   | string       |
| '5' + '2' | string       |
| 5 / 2     | float        |
| 5 % 2     | integer      |
| {5,2,1}   | set          |
| 5 == 3    | bool         |
| 3.14      | float        |

# Question 2
<p>Write (and evaluate) python expressions that answer these questions:<p>
<b>a. How many letters are there in 'Supercalifragilisticexpialidocious'?<b>

In [26]:
a = len('Supercalifragilisticexpialidocious')  #function len() use for length of an object
print("There are total " + str(a) + " letters") # str() function converts the specified value into a string.

There are total 34 letters

<b>b. Does 'Supercalifragilisticexpialidocious' contain 'ice' as a substring<b>

In [28]:
superWord = 'Supercalifragilisticexpialidocious'  

if 'ice' in superWord:
    print("Yes, 'ice' is a substring of superWord.")                                       
else:
    print("No, 'ice' is not a substring of superWord.")

Yes, 'ice' is a substring of superWord.

<b>c. Which of the following words is the longest: 
Supercalifragilisticexpialidocious, Honorificabilitudinitatibus, or 
Bababadalgharaghtakamminarronnkonn? <b>

In [3]:
words = ['Supercalifragilisticexpialidocious', 'Honorificabilitudinitatibus', 'Bababadalgharaghtakamminarronnkonn']
a = max(words, key=len)   # MAX function finds the highest number in a range.
print(a)

Supercalifragilisticexpialidocious

<b>d. Which composer comes first in the dictionary: 'Berlioz', 'Borodin', 'Brian', 
'Bartok', 'Bellini', 'Buxtehude', 'Bernstein'. Which one comes last?<b>

In [11]:
c = ['Berlioz', 'Borodin', 'Brian', 'Bartok', 'Bellini', 'Buxtehude', 'Bernstein']
c. sort()   #sort() is for  sorting list
first_c = c[0]   
last_c = c[-1] 
print("first_composer : " + first_c + "  last_composer : " + last_c )

first_composer : Bartok  last_composer : Buxtehude

# Question 3
<b>Implement function triangleArea(a,b,c) that takes as input the lengths of the 3
sides of a triangle and returns the area of the triangle. By Heron's formula, the area 
of a triangle with side lengths a, b, and c is
s(s - a)(s -b)(s -c)
, where 
s = (a+b+c)/2.  <b>

In [11]:
import math 

def triangleArea(a, b, c):
    s = (a + b + c) / 2
    s1 = s * (s - a) * (s - b) * (s - c)
    area = math.sqrt(s1) #math.sqrt() method returns the square root of a number
    return area

print(triangleArea(2,2,2))

1.7320508075688772

# Question 4
<b>Write a program in python to separate odd and even integers in separate arrays.<b>

In [3]:
a = int(input("Enter the number of elements: "))
evennumber = []
oddnumber = []

for i in range(a):
    number = int(input("Enter value:"))
    
    # number is even or odd
    if number % 2 == 0:
        evennumber.append(number)    #append() method help an element to the end of the list.
    else:
        oddnumber.append(number)
        

print("Even Numbers:")
print(evennumber)

print("\nOdd Numbers:")
print(oddnumber)

Enter the number of elements:  4
Enter value: 45
Enter value: 36
Enter value: 29
Enter value: 4

Even Numbers:
[36, 4]

Odd Numbers:
[45, 29]

# Question 5 
<b>a. Write a function inside(x,y,x1,y1,x2,y2) that returns True or False 
depending on whether the point (x,y) lies in the rectangle with lower left 
corner (x1,y1) and upper right corner (x2,y2).<b>

In [4]:

def inside(x, y, x1, y1, x2, y2):
    if x > x1 and x < x2 and y > y1 and y < y2:
        return True
    else:
        return False


print(inside(1,1,0,0,2,3))  
print(inside(-1,-1,0,0,2,3))

True
False

<b>b. Use function inside() from part a. to write an expression that tests whether 
the point (1,1) lies in both of the following rectangles: one with lower left 
corner (0.3, 0.5) and upper right corner (1.1, 0.7) and the other with lower 
left corner (0.5, 0.2) and upper right corner (1.1, 2). <b>

In [10]:
def inside(x, y, x1, y1, x2, y2):
    if x > x1 and x < x2 and y > y1 and y < y2:
        return True
    else:
        return False

x = 1,
y = 1,
left_corner_x11 = 0.3,
left_corner_y11 = 0.5,
right_corner_x21 = 1.1, 
right_corner_y21 = 0.7,
left_corner_x12 = 0.5,  
left_corner_y12 = 0.2, 
right_corner_x22 = 1.1, 
right_corner_y22 = 2
result = inside(x, y,left_corner_x11,left_corner_y11,right_corner_x21,right_corner_y21) and inside(x, y,left_corner_x12,left_corner_y12,right_corner_x22,right_corner_y22)

print("Point (1,1) lies in both rectangles:", result)

Point (1,1) lies in both rectangles: False

# Question 6
<b>You can turn a word into pig-Latin using the following two rules (simplified):
• If the word starts with a consonant, move that letter to the end and append 
'ay'. For example, 'happy' becomes 'appyhay' and 'pencil' becomes 'encilpay'.
• If the word starts with a vowel, simply append 'way' to the end of the word. 
For example, 'enter' becomes 'enterway' and 'other' becomes 'otherway' . For 
our purposes, there are 5 vowels: a, e, i, o, u (so we count y as a consonant).
Write a function pig() that takes a word (i.e., a string) as input and returns its pig-Latin form. Your function should still work if the input word contains upper case 
characters. Your output should always be lower case however.<b>

In [12]:
def pig(anyWord):
    vowels = ['a', 'e', 'i', 'o', 'u']    
    if anyWord[0].lower() in vowels:
        return anyWord.lower() + 'way'
    else:
        return anyWord[1:].lower() + anyWord[0].lower() + 'ay'
        
print(pig("happy"))

appyhay

# Question 7
<b>File bloodtype1.txt records blood-types of patients (A, B, AB, O or OO) at a clinic. 
Write a function bldcount() that reads the file with name name and reports (i.e., 
prints) how many patients there are in each bloodtype.<b>

In [9]:

def bldcount(file_name):
    with open(file_name, 'r') as file:
        type_AB = 0
        tyoe_B = 0
        type_O = 0
        type_A = 0
        type_OO = 0
        for line in file:
            for bloodgroups in line.split():
                if bloodgroups == "AB":
                    type_AB += 1
                if bloodgroups == "B":
                    tyoe_B += 1
                if bloodgroups == "O": 
                    type_O += 1
                if bloodgroups == "A":
                    type_A += 1
                if bloodgroups == "OO":
                    type_OO += 1

        
        # converted int to string           
        string_AB = str(type_AB) 
        string_B =  str(tyoe_B)
        string_O = str(type_O)
        string_A = str(type_A)
        string_OO = str(type_OO)
        
        print(string_AB +  " patients with blood type A")
        print( string_B +  " patients with blood type B")
        print(string_O+  " patients with blood type AB")
        print( string_A +  " patients with blood type O")
        print( string_OO +  " patients with blood type OO")

        file.close()
        
file_name = "bloodtype1.txt"
bldcount(file_name)

13 patients with blood type A
1 patients with blood type B
15 patients with blood type AB
15 patients with blood type O
0 patients with blood type OO

# Question 8
 <b> Write a function curconv() that takes as input:
1. a currency represented using a string (e.g., 'JPY' for the Japanese Yen or 
'EUR' for the Euro)
2. an amount
and then converts and returns the amount in US dollars. <b>

In [10]:

def curconv(currencies , amount):
    file_name = "currencies.txt"
    changingRates = {}
    with open(file_name, 'r') as file:
        
        for line in file:
            data = line.split()
            changingRates[data[0]] = float(data[1])
    
        currency.upper()
        rate = changingRates[currency]
        if currency in changingRates :
            print(amount * rate)
        else:
            print("not found")
      
        file.close()

curconv('JPY', 100)  # Convert 100 Japanese Yen to USD
curconv('EUR', 100)  # Convert 100 Euros to USD

122.96544
1.241401

# Question 9
<b>Each of the following will cause an exception (an error). Identify what type of 
exception each will cause<b>

<b>1.Trying to add incompatible variables, as in 
adding 6 + ‘a’<b>

In [57]:
print(6 + 'a')
# TypeError: unsupported operand type(s) add an 'int' and 'str'.

TypeError: unsupported operand type(s) for +: 'int' and 'str'

<b>2.Referring to the 12th item of a list that has only 10 
items <b>

In [13]:
list = [11, 42, 23, 4, 25, 76, 57, 98, 59, 17]
print(list[11])
# IndexError: list index out of range

IndexError: list index out of range

<b>3.Using a value that is out of range for a function’s 
input, such as calling math.sqrt(-1.0)<b>

In [63]:
result = math.sqrt(-1.0)
print(result)
# ValueError: math.sqrt function is not defined for negative numbers.

ValueError: math domain error

<b>4.Using an undeclared variable, such as print(x)
when x has not been defined<b>

In [65]:
y = 10
print(x)
# NameError: name 'x' is not defined.

NameError: name 'x' is not defined

<b>5.Trying to open a file that does not exist, such as 
mistyping the file name or looking in the wrong 
directory<b>

In [66]:
file = open("bloodtype2.txt")
print(file.read())
# FileNotFoundError: this file name does not exist.

FileNotFoundError: [Errno 2] No such file or directory: 'bloodtype2.txt'

# Question 10
<b>Encryption is the process of hiding the meaning of a text by substituting letters in the 
message with other letters, according to some system. If the process is successful, no 
one but the intended recipient can understand the encrypted message. Cryptanalysis
refers to attempts to undo the encryption, even if some details of the encryption are 
unknown (for example, if an encrypted message has been intercepted). The first step 
of cryptanalysis is often to build up a table of letter frequencies in the encrypted text. 
Assume that the string letters is already defined as 
'abcdefghijklmnopqrstuvwxyz'. Write a function called frequencies()
that takes a string as its only parameter, and returns a list of integers, showing the 
number of times each character appears in the text. Your function may ignore any 
characters that are not in letters.<b>

In [4]:
def frequencies(word):
    letters = 'abcdefghijklmnopqrstuvwxyz'
    total_len = len(letters)
    data = [0] * total_len
    for char in word:
        if char in letters:
            index = letters.index(char)
            data[index] += 1
    return data

print(frequencies("apple"))

[1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [ ]:
# REFRENCE :
# https://stackoverflow.com/questions/961632/convert-integer-to-string-in-python